.github/**
src/**
docs/**
node_modules/**
scripts/**
test/**
test-fixtures/**
server-smoke.*
*.ts
!dist/**
tsconfig.json
.eslintrc*
.prettierrc*
**/*.test.*
**/__tests__/**
.vscode/**
.gitignore
package-lock.json
*.vsix
